[submodule "plugins/homekit/HAP-NodeJS"]
	path = external/HAP-NodeJS
	url = git@github.com:koush/HAP-NodeJS
[submodule "plugins/unifi-protect/src/unifi-protect"]
	path = plugins/unifi-protect/src/unifi-protect
	url = git@github.com:koush/unifi-protect.git
[submodule "plugins/myq/src/myq"]
	path = plugins/myq/src/myq
	url = git@github.com:koush/myq.git
[submodule "plugins/neato/node-botvac"]
	path = plugins/neato/node-botvac
	url = git@github.com:koush/node-botvac
[submodule "plugins/tensorflow/face-api.js"]
	path = plugins/tensorflow/face-api.js
	url = git@github.com:koush/face-api.js
[submodule "external/axios-digest-auth"]
	path = external/axios-digest-auth
	url = git@github.com:koush/axios-digest-auth
