[submodule "plugins/homekit/HAP-NodeJS"]
	path = external/HAP-NodeJS
	url = ../../koush/HAP-NodeJS
[submodule "plugins/unifi-protect/src/unifi-protect"]
	path = external/unifi-protect
	url = ../../koush/unifi-protect.git
[submodule "plugins/myq/src/myq"]
	path = plugins/myq/src/myq
	url = ../../koush/myq.git
[submodule "plugins/neato/node-botvac"]
	path = plugins/neato/node-botvac
	url = ../../koush/node-botvac
[submodule "plugins/tensorflow/face-api.js"]
	path = external/face-api.js
	url = ../../koush/face-api.js
[submodule "external/axios-digest-auth"]
	path = external/axios-digest-auth
	url = ../../koush/axios-digest-auth
[submodule "external/scrypted-ffmpeg"]
	path = external/scrypted-ffmpeg
	url = ../../koush/scrypted-ffmpeg
[submodule "external/scrypted-private"]
	path = external/private
	url = ../../koush/scrypted-private
[submodule "external/ring-client-api"]
	path = external/ring-client-api
	url = ../../koush/ring
