[submodule "plugins/unifi-protect/src/unifi-protect"]
	path = external/unifi-protect
	url = ../../koush/unifi-protect.git
[submodule "plugins/myq/src/myq"]
	path = plugins/myq/src/myq
	url = ../../koush/myq.git
[submodule "plugins/tensorflow/face-api.js"]
	path = external/face-api.js
	url = ../../koush/face-api.js
[submodule "external/axios-digest-auth"]
	path = external/axios-digest-auth
	url = ../../koush/axios-digest-auth
[submodule "external/scrypted-ffmpeg"]
	path = external/scrypted-ffmpeg
	url = ../../koush/scrypted-ffmpeg
[submodule "external/ring-client-api"]
	path = external/ring-client-api
	url = ../../koush/ring
	branch = fork
[submodule "plugins/vscode-typescript"]
	path = plugins/vscode-typescript
	url = ../../koush/scrypted-vscode-typescript/
[submodule "external/werift"]
	path = external/werift
	url = ../../koush/werift-webrtc
[submodule "plugins/zwave/file-stream-rotator"]
	path = plugins/zwave/file-stream-rotator
	url = ../../koush/file-stream-rotator.git
[submodule "sdk/developer.scrypted.app"]
	path = sdk/developer.scrypted.app
	url = ../../koush/developer.scrypted.app
[submodule "plugins/sample-cameraprovider"]
	path = plugins/sample-cameraprovider
	url = ../../koush/scrypted-sample-cameraprovider
[submodule "plugins/cloud/node-nat-upnp"]
	path = plugins/cloud/external/node-nat-upnp
	url = ../../koush/node-nat-upnp.git
