[Unit]
Description=Scrypted DHCP Watcher
After=network.target

[Service]
ExecStart=/etc/dhcp/scrypted-dchp-watcher
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
