# must ensure numpy is pinned to prevent dependencies with an unpinned numpy from pulling numpy>=2.0.
numpy==1.26.4
coremltools==7.2
Pillow==10.3.0

# opencv-python requires macos 12 after version 4.10.
opencv-python==4.10.0.84; platform_machine != 'x86_64'
opencv-python==4.9.0.80; platform_machine == 'x86_64'
