# uncomment to require cuda 12, but most stuff is still targetting cuda 11.
# however, stuff targetted for cuda 11 can still run on cuda 12.
# --extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime-gpu==1.19.2; 'darwin' not in sys_platform and platform_machine != 'aarch64'
# cpu and coreml execution provider
onnxruntime; 'darwin' in sys_platform or platform_machine == 'aarch64'
# nightly?
# ort-nightly-gpu==1.17.3.dev20240409002

Pillow==10.3.0
opencv-python-headless==4.10.0.84
