name: Build SDK

on:
  push:
    branches: ["main"]
    paths: ["sdk/**"]
  pull_request:
    paths: ["sdk/**"]
  workflow_dispatch:
  
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm run build
